<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="f-container">
  <div class ="f-item1">レコメンドメニュー</div>
  <div class = "f-item2">レシピをよむ</div>

</div>

<div class="f-container1">
<div class = "f-item3">人気ランキング</div>
  <div class ="f-item4">過去食べたメニュー一覧</div>
  <div class = "f-item5">カテゴリー</div>
</div>
