<footer class="footer">
  <%# TODO: コピーライトの年が手動更新のため、自動更新にする %>
  <small>
    &copy; 2020 Yutaka Yamaki
  </small>
  <nav>
    <ul>
      <li><%= link_to "about me",   about_path %></li>
      <li><%= link_to "contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">news</a></li>
    </ul>
  </nav>
</footer>